@model twright_PortfolioMVC.Models.EmailModel

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Travis Wright Portfolio</title>

    <!-- Font Awesome Icons -->
    <link href="~/Content/all.min.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="~/Content/creative.min.css" rel="stylesheet" />
    <link href="~/Content/Custom.css" rel="stylesheet" />

    <!--Favicon-->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/jpg" href="~/img/Browser Logo.jpg" />

    <!--Here is the Syntax Highlighter Section-->
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeDefault.css" rel="stylesheet" />

</head>
<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">The Wright Portfolio</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead -->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h1 class="text-uppercase text-white font-weight-bold">I am the WRIGHT Developer!</h1>
                    <hr class="divider my-4">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <!--Place wording for the coding languages I have learned at Coder Foundry-->
                    <p class="text-white-75 font-weight-light mb-0">Specializing in:</p>
                    <p class="text-white-75 font-weight-light mb-0">HTML, CSS3, JavaScript/ES6, JQuery, .NET, C#, MVC,</p>
                    <p class="text-white-75 font-weight-light mb-5">ASP.NET, SQL&Bash, LINQ, Xamarin, WebAPI</p>

                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="page-section bg-primary" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <img src="~/img/Travis Wright.jpg" class="rounded" alt="twright" width="450">
                </div>


                <!--About Me Detail Info-->
                <div class="col-lg-10 text-center">
                    <h2 class="text-white mt-4">Hi I am Travis!</h2>
                    <hr class="divider light my-4">
                    <!--Put more information about myself here and link to resume.-->
                    <p class="text-white text-justify">Some people like to read love novels, I like to read tech books, manuals and documentation! For 16 years I have been aquiring my knowledge and experience in the Information Technology field. From corparate IT system engineer to running my own technology service company. In addition to my IT background I have 16 years of audio, video, lighting, projection and automation knowledge. I am currently attending a 12 intensive software development bootcamp to add to my IT knowledge and join the software development work force. Take a look at my resume by clicking below to get a detail description of my knowledge and experience.</p>

                    <!--Resume Viewing-->
                    <div class="container mt-3">
                        <!-- Button to Open the Resume Modal -->
                        <button type="button" class="btn btn-light btn-xl" data-toggle="modal" data-target="#myModal">
                            View My Resume
                        </button>

                        <!-- The Resume Modal -->
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Travis Wright Resume</h4>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <object type="application/pdf" data="~/img/Travis Wright Resume.pdf" width="800" height="500" style="height: 85vh;">No Support</object>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="#myModal2" data-toggle="modal">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/javascript-body-text-v1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-name">
                                <h1>Javascript Project</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a id="lnkBlog"class="portfolio-box" href="#" onclick="location='https://twright-blog.azurewebsites.net'" target="_blank">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/Blog-v1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-name">
                                <h1>Blogging</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a id="lnkBlog"class="portfolio-box" href="#" onclick="location='https://twrightbugtracker.azurewebsites.net'" target="_blank">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/BugTracker-v1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-name">
                                <h1>Bug Tracker</h1>
                                <h3>Currently In Development Stage</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="#" onclick="location='https://twrightfinacialportal.azurewebsites.net'" target="_blank">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/Financial-v1.jpg" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-name">
                                <h1>Financial Enterprise</h1>
                                <h3>Currently In Development Stage</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="#" onclick="location='https://twrightfinancialapi.azurewebsites.net'" target="_blank">
                        <img class="img-fluid" src="~/img/Financial-v1_API.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="project-name">
                                <h1>Financial Enterprise API</h1>
                                <h3>Currently In Development Stage</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="~/img/portfolio/thumbnails/Coming_Soon_grey.jpg" alt="">
                        <div class="portfolio-box-caption p-3">
                            <div class="project-name">
                                <h1>Coming Soon</h1>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <section class="mb-4">
            <!--Contact Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
            <!--Contact Section description-->
            <p class="text-center w-responsive mx-auto mb-5">
                Do you have any questions? Please do not hesitate to contact me directly. I will get back to you within
                a matter of hours.
            </p>
            <!--Contact Section Form Fields-->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    

                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6 contactMargin">
                                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", placeholder = "Name" })
                                @Html.ValidationMessageFor(m => m.FromName)
                            </div>

                            <div class="col-md-6 contactMargin">
                                @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "example@email.com"})
                                @Html.ValidationMessageFor(m => m.FromEmail)
                            </div>

                            <br />

                            <div class="col-12 contactMargin">
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
                                @Html.ValidationMessageFor(m => m.Subject)
                            </div>

                            <br />

                            <div class="col-12 contactMargin ">
                                @Html.TextBoxFor(m => m.Body, new { @class = "form-control", placeholder = "type message here."})
                                @Html.ValidationMessageFor(m => m.Body)
                            </div>

                            <br />

                            <div class="col-12 contactMargin">
                                <button id="submit" class="btn btn-primary minWidth" name="submit">SEND MESSAGE</button>
                            </div>

                        </div>
                    }
                </div>

                <!--Contact Section Contact Info-->
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <br />
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Thomasville, NC USA</p>
                        </div>

                        <div class="col-md-4">
                            <i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>(336) 414-3255</p>
                        </div>

                        <div class="col-md-4">
                            <i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>travwright3@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <!-- Site Footer -->
    <footer class="bg-light py-5">
        <div class="container">
            <div class="small text-center text-muted">Copyright &copy; 2019</div>
        </div>
    </footer>

    <!-- The Modal for JS Exercise -->
    <div class="modal" id="myModal2">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">JavaScript Exercises</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    <div class="container mt-3">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="closeSimple" data-toggle="tab" href="#home">Simple Math</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="closeFactorial" data-toggle="tab" href="#menu1">Factorial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="closeFizzBuzz" data-toggle="tab" href="#menu3">Fizz Buzz</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="closePalindrome" data-toggle="tab" href="#menu4">Palindrome</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        
                        <div class="tab-content">
                            <!--Enter Data here for Simple Math coding-->
                            <div id="home" class="container tab-pane active">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 h2 text-center">
                                            <br />
                                            <h3><strong>Simple Math Calculations</strong></h3>
                                            <h6>This exercise will calculate the sum, greatest number, least number, product and mean of 5 numbers you input. </h6>
                                            <h6>Enter 5 whole numbers (1-1,00,000)</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter Number 1:</div>
                                                <div class="col-md-6">
                                                    <input class="basicInput" type="number" id="number1" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter Number 2:</div>
                                                <div class="col-md-6">
                                                    <input type="number" id="number2" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter Number 3:</div>
                                                <div class="col-md-6">
                                                    <input type="number" id="number3" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter Number 4:</div>
                                                <div class="col-md-6">
                                                    <input type="number" id="number4" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter Number 5:</div>
                                                <div class="col-md-6">
                                                    <input type="number" id="number5" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button id="btnMath" class="btn btn-primary minWidth">Calculate</button>
                                                </div>

                                                <div class="col-md-offset-1 col-md-5">
                                                    <button id="btnClear" class="btn btn-success minWidth">Clear</button>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 text-center">
                                            <div class="row">
                                                <h4><strong>Your results are as follows</strong></h4>
                                            </div>

                                            <div class="row">
                                                <div class="mt-3"></div>
                                            </div>

                                            <div class="row">
                                                <h5><p id="sum"></p></h5>
                                            </div>

                                            <div class="row">
                                                <h5><p id="max"></p></h5>
                                            </div>

                                            <div class="row">
                                                <h5><p id="small"></p></h5>
                                            </div>

                                            <div class="row">
                                                <h5><p id="product"></p></h5>
                                            </div>

                                            <div class="row">
                                                <h5><p id="mean"></p></h5>
                                            </div>

                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnCode1" class="btn btn-secondary minWidth">Show/Hide Code</button>
                                        </div>
                                    </div>

                                    <br />


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="divMath">
                                                <pre class="brush: js">
                                                    $("#btnMath").click(function () {
                                                        // I want to grab the value inside input id=number1
                                                        var number1 = Number($("#number1").val());
                                                        var number2 = Number($("#number2").val());
                                                        var number3 = Number($("#number3").val());
                                                        var number4 = Number($("#number4").val());
                                                        var number5 = Number($("#number5").val());

                                                        //Step 2: Do something with it
                                                        var sum = number1 + number2 + number3 + number4 + number5;
                                                        var max = Math.max(number1, number2, number3, number4, number5);
                                                        var small = Math.min(number1, number2, number3, number4, number5);
                                                        var product = number1 * number2 * number3 * number4 * number5;
                                                        var mean = (number1 + number2 + number3 + number4 + number5) / 5;

                                                        //Step 3: Out the results to the screen
                                                        $("#sum").text("The sum of your input is: " + sum);
                                                        $("#max").text("The greatest number of your input is: " + max);
                                                        $("#small").text("The least number of your input is: " + small);
                                                        $("#product").text("The product of the numbers you inputed is: " + product);
                                                        $("#mean").text("The mean of the numbers you inputed is: " + mean);

                                                    }); 
                                                </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                            <!--Enter Data here for Factorial coding-->
                            <div id="menu1" class="container tab-pane fade">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 h2 text-center">
                                            <br />
                                            <h3><strong>Factorial</strong></h3>
                                            <h6>This exercise will calculate the Factorial of any number under 171.</h6>
                                            <h6>Enter any whole number 0-171</h6>
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter a Number:</div>
                                                <div class="col-md-4">
                                                    <input type="number" id="input" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button id="btnCalc1" class="btn btn-primary minWidth">Calculate</button>
                                                </div>

                                                <div class="col-md-offset-1 col-md-5">
                                                    <button id="btnClear1" class="btn btn-success minWidth">Clear</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row col-md-6 text-bold h4">Answer is</div>
                                            <div class="row">
                                                <div class="mt-3"></div>
                                            </div>
                                            <div class="row col-md-6" id="output1"></div>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnCode2" class="btn btn-secondary minWidth">Show/Hide Code</button>
                                        </div>
                                    </div>

                                    <br />


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="divFactorial">
                                                <pre class="brush: js">
                                                    $("#btnCalc1").click(function () {
                                                        //Step 1: Get the user data
                                                        var input = Number($("#input").val());


                                                        //Step 2: Do something with it
                                                        var output = input;

                                                        if (input > 0) {
                                                        for (var loop = input - 1; loop > 1; loop--) {
                                                                output *= loop;
                                                            }
                                                        }
                                                        else if (input == 0) {
                                                                output = 1;
                                                            }
                                                        else {
                                                                output = "undefined";
                                                            }

                                                        //Step 3: Inform the user
                                                        $("#output1").text("The factorial of " + input + " is " + output);

                                                        });
                                                </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                            </div>

                            <!--Enter Data here for FizzBuzz coding-->
                            <div id="menu3" class="container tab-pane fade">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 h2 text-center">
                                            <br />
                                            <h3><strong>Fizz Buzz</strong></h3>
                                            <h6>Enter 2 different numbers to calculate Fizz Buzz.</h6>
                                            <br />
                                        </div>
                                    </div>


                                    <div class="row">
                                        @*The Input half*@
                                        <div class=" col-md-6">
                                            <div class="row">
                                                <div class="col-md-4"><strong>Enter Number 1:</strong></div>
                                                <div class="col-md-6">
                                                    <input id="input1" type="number" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-4"><strong>Enter Number 2:</strong></div>
                                                <div class="col-md-6">
                                                    <input id="input2" type="number" />
                                                </div>
                                            </div>

                                            <br />

                                            @*Buttons*@
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button id="btnCalc2" class="btn btn-primary minWidth">Calculate</button>
                                                </div>
                                                <div class="col-md-5">
                                                    <button id="btnClear2" class="btn btn-success minWidth">Clear</button>
                                                </div>
                                            </div>
                                        </div>

                                        @*The Output*@
                                        <div class=" col-md-6">
                                            <div class="row">
                                                <div class="col-md-12 h5"><strong>Output</strong></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p id="output2"></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="btnCode3" class="btn btn-secondary minWidth">Show/Hide Code</button>
                                    </div>
                                </div>

                                <br />


                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="divFizzBuzz">
                                            <pre class="brush: js">
                                                $("#btnCalc2").click(function () {
                                                    var input1 = Number($("#input1").val());
                                                    var input2 = Number($("#input2").val())

                                                    var output = "";

                                                    //Step 2: Do something with it
                                                    for (var loop = 1; loop <= 100; loop++) {
                                                    var fizzCondition = loop % input1 == 0 ? true : false;
                                                    var buzzCondition = loop % input2 == 0 ? true : false;


                                                    if (fizzCondition && buzzCondition) {
                                                    output += "Fizz-Buzz, ";

                                                    }
                                                    else if (fizzCondition) {
                                                    output += "Fizz, ";
                                                    }

                                                    else if (buzzCondition) {
                                                    output += "Buzz, ";
                                                    }

                                                    else {
                                                    output += loop + ", ";
                                                    }

                                                    }
                                                    
                                                    //Lop off the trailing comma
                                                    output = output.substr(0, output.length - 2);

                                                    //Step 3: Out the results to the screen
                                                    $("#output2").text(output);

                                                });

                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Enter Data here for Palindrome coding-->
                            <div id="menu4" class="container tab-pane fade">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12 h2 text-center">
                                            <br />
                                            <h3><strong>Palindrome</strong></h3>
                                            <h6>This exercise will let you know if a word is a palindrome or not.</h6>
                                            <h6>Enter any word.</h6>
                                            <br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4 text-bold">Enter a word:</div>
                                                <div class="col-md-4">
                                                    <input type="text" id="input9" />
                                                </div>
                                            </div>

                                            <br />

                                            <div class="row">
                                                <div class="col-md-5">
                                                    <button id="btnPal" class="btn btn-primary minWidth">Calculate</button>
                                                </div>

                                                <div class="col-md-offset-1 col-md-5">
                                                    <button id="btnClear4" class="btn btn-success minWidth">Clear</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <p><b>It is a palindrome?</b></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="checkbox" id="IsPalindrome" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <p><b>It is not a palindrome?</b></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="checkbox" id="IsNotPalindrome" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-12">
                                        <button id="btnCode4" class="btn btn-secondary minWidth">Show/Hide Code</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="divPalindrome">
                                            <pre class="brush: js">
                                                $("#btnPal").click(function () {
                                                    
                                                    var nospaces_str = "";
                                                    var nospaces_rev = "";

                                                    //get value
                                                    var str = $("#input9").val();
                                                    nospaces_str = str.replace(/\s+/g, '').toLowerCase();
                                                    nospaces_rev = Reverse(nospaces_str).toLowerCase();

                                                    //reverse the value
                                                    reversed = Reverse(str);

                                                    //compare values
                                                    if (nospaces_str == nospaces_rev) {
                                                        $("#IsPalindrome").prop("checked", true);
                                                    }
                                                    else
                                                        $("#IsNotPalindrome").prop("checked", true);

                                                    function Reverse(str) {
                                                        var reversed = "";
                                                        for (var i = str.length - 1; i >= 0; i--) {
                                                            reversed += str[i];
                                                        }
                                                        return reversed;
                                                    }
                                                });
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>


    <!-- Custom scripts for this template -->
    <script src="~/Scripts/creative.js"></script>
    <script src="~/Scripts/custom.js"></script>

    <!--Here is the Syntax Highlighter Section for js-->
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>

    <script>
        SyntaxHighlighter.all();
    </script>

</body>
</html>
